<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of account</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> accountID: <%=account.accountID%>
      <br> email: <%=account.email%>
      <br> datePlaced: <%=account.datePlaced%>
      <br> dateShipped: <%=account.dateShipped%>
      <br> paymentType: <%=account.paymentType%>
      <br> amountDue: <%=account.amountDue%>
      <br> paid: <%=account.paid %>
      <hr>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>