account<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>account details</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> Account Holder Name: <%=account.accountholdername%>
      <br> Account Type: <%=account.accountType%>
      <br> Account Balance: <%=account.accountbalance%>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>