<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>

      <h2> User </h2><br>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/1">/user/findone/1</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/91">/user/findone/91</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/92">/user/findone/92</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/93">/user/findone/93</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/91">/user/edit/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/92">/user/edit/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/93">/user/edit/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/delete/91">/user/delete/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/92">/user/delete/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/93">/user/delete/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/details/91">/user/details/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/92">/user/details/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/93">/user/details/93</a>
        </li>

      </ol>

      <br>

      <h2> Account </h2><br>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/1">/account/findone/1</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/91">/acount/findone/91</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/92">/account/findone/92</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/93">/account/findone/93</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/91">/account/edit/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/92">/account/edit/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/93">/account/edit/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/91">/account/delete/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/92">/account/delete/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/93">/account/delete/93</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/91">/account/details/91</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/92">/account/details/92</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/93">/account/details/93</a>
        </li>

      </ol>

      <br>

      <h2> Transaction </h2><br>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1001">/transaction/findone/1001</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1002">/transaction/findone/1002</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1003">/transaction/findone/1003</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1004">/transaction/findone/1004</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/1001">/transaction/edit/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/1002">/transaction/edit/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/1003">/transaction/edit/1003</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/1001">/transaction/delete/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/1002">/transaction/delete/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/1003">/transaction/delete/1003</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/details/1001">/transaction/details/1001</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/1002">/transaction/details/1002</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/1003">/transaction/details/1003</a>
        </li>

      </ol>
    </div>
  </div>
</div>