<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>User details</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Email: <%=user.email%>
      <br> First Name: <%=user.firstName%>
      <br> Last Name: <%=user.lastName%>
      <br> Address Line 1: <%=user.addressLine1%>
      <br> Address Line 2: <%=user.addressLine2 %>
      <br> City: <%=user.city %>
      <br> State: <%=user.state %>
      <br> Zipcode: <%=user.zipcode %>
      <br> Country: <%=user.country %>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>