<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Nandini Doppalapudi </h1>
      <a href="https://nandinidoppalapudi.github.io/aboutme/">Click here</a> to go to my aboutme site.

      <br>
      <br>
    </div>
  </div>
</div>